<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>
<body>
<h1>This is your homepage!</h1>

<a href="/addperson" type="button">Add Person</a>
<a href="/viewperson" type="button">View Person</a>


</body>
</html>